div h2 {
  color: blueviolet;
}

.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4caf50;
  color: white;
}

.customers td {
  text-align: left;
  padding-left: 10px;
}
